/* Reset de estilos padrão do navegador */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: #333;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projeto {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    color: #0077b5; /* Cor do LinkedIn como exemplo */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #005580; /* Cor mais escura quando o mouse passa por cima */
}

/* Estilo para links externos */
a[target="_blank"]::after {
    content: "\2197"; /* Ícone de seta */
    margin-left: 5px;
}
